<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pwsteprojekt">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PwsteProjekt">
        <activity
            android:name=".NowaWiadomosc"
            android:exported="true" />
        <activity
            android:name=".TestDB"
            android:exported="false" />
        <activity
            android:name=".WiadomosciWyslane"
            android:exported="false" />
        <activity
            android:name=".WiadomosciMain"
            android:exported="false" />
        <activity
            android:name=".ZleceniaInfo"
            android:exported="true" />
        <activity
            android:name=".DokumentyFormularzCN2"
            android:exported="true" />
        <activity
            android:name=".DokumentyZastrzezeniaCN2"
            android:exported="true" />
        <activity
            android:name=".DokumentyFormularzCN1"
            android:exported="true" />
        <activity
            android:name=".DokumentyZastrzezeniaCN"
            android:exported="true" />
        <activity
            android:name=".DokumentyCN3"
            android:exported="true" />
        <activity
            android:name=".DokumentyCN2"
            android:exported="true" />
        <activity
            android:name=".DokumentyFormularz1"
            android:exported="true" />
        <activity
            android:name=".DokumentyZastrzezenia"
            android:exported="true" />
        <activity
            android:name=".WiadomosciWyslij"
            android:exported="true" />
        <activity
            android:name=".Ustawienia"
            android:exported="false" />
        <activity
            android:name=".Dokumenty"
            android:exported="false" />
        <activity
            android:name=".Mapy"
            android:exported="false" />
        <activity
            android:name=".Zlecenia"
            android:exported="false" />
        <activity
            android:name=".WiadomosciOdebrane"
            android:exported="false" />
        <activity
            android:name=".Usterka"
            android:exported="false" />
        <activity
            android:name=".Dokumenty2"
            android:exported="true" />
        <activity
            android:name=".Dokumenty3"
            android:exported="true" />
        <activity
            android:name=".Dokumenty4"
            android:exported="true" />
        <activity
            android:name=".DokumentyCN"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>